#note: mail is sent from jtrigg?
MAILTO="jasontrigg0@gmail.com"

#to test out cron with the proper environment:
#https://stackoverflow.com/a/2546509
#* * * * * jason env > /tmp/cronenv
#env - `cat /tmp/cronenv` /bin/sh


# m h  dom mon dow   command
#0 0    * * *   root nctu -f /home/jtrigg/.ncdu /
0 2 * * 0 jason clamscan -l /tmp/clamav.log -r / -i --exclude-dir=^/sys --exclude-dir=^/dev --exclude-dir=^/proc

